sudo: false

language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

install: pip install tox-travis
script: tox

cache: pip

matrix:
  fast_finish: true
  include:
    - dist: bionic
      python: 3.6

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/09bd4c7cc8961aff307f
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

