language: python
language: python
python: # test various python versions, Django supports all of them
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"

cache: pip

sudo: false

env:
    #- TOX_ENV=py27-flake8
    - TOX_ENV=py27-docs
    - TOX_ENV=py27-django1.6-drf2.4
    - TOX_ENV=py27-django1.6-drf3.0
    - TOX_ENV=py27-django1.6-drf3.1
    - TOX_ENV=py27-django1.7-drf2.4
    - TOX_ENV=py27-django1.7-drf3.0
    - TOX_ENV=py27-django1.7-drf3.1
    - TOX_ENV=py27-django1.8-drf2.4
    - TOX_ENV=py27-django1.8-drf3.0
    - TOX_ENV=py27-django1.8-drf3.1
    - TOX_ENV=py27-django1.8-drf3.3
    - TOX_ENV=py27-django1.8-drf3.5
    - TOX_ENV=py27-django1.9-drf3.3
    - TOX_ENV=py27-django1.9-drf3.5
    - TOX_ENV=py27-django1.10-drf3.3
    - TOX_ENV=py27-django1.10-drf3.5
    - TOX_ENV=py33-django1.6-drf2.4
    - TOX_ENV=py33-django1.6-drf3.0
    - TOX_ENV=py33-django1.6-drf3.1
    - TOX_ENV=py33-django1.7-drf2.4
    - TOX_ENV=py33-django1.7-drf3.0
    - TOX_ENV=py33-django1.7-drf3.1
    - TOX_ENV=py33-django1.8-drf2.4
    - TOX_ENV=py33-django1.8-drf3.0
    - TOX_ENV=py33-django1.8-drf3.1
    - TOX_ENV=py34-django1.6-drf2.4
    - TOX_ENV=py34-django1.6-drf3.0
    - TOX_ENV=py34-django1.6-drf3.1
    - TOX_ENV=py34-django1.7-drf2.4
    - TOX_ENV=py34-django1.7-drf3.0
    - TOX_ENV=py34-django1.7-drf3.1
    - TOX_ENV=py34-django1.8-drf2.4
    - TOX_ENV=py34-django1.8-drf3.0
    - TOX_ENV=py34-django1.8-drf3.1
    - TOX_ENV=py34-django1.8-drf3.3
    - TOX_ENV=py34-django1.8-drf3.5
    - TOX_ENV=py34-django1.9-drf3.3
    - TOX_ENV=py34-django1.9-drf3.5
    - TOX_ENV=py34-django1.10-drf3.3
    - TOX_ENV=py34-django1.10-drf3.5
    - TOX_ENV=py35-django1.8-drf3.3
    - TOX_ENV=py35-django1.8-drf3.5
    - TOX_ENV=py35-django1.9-drf3.3
    - TOX_ENV=py35-django1.9-drf3.5
    - TOX_ENV=py35-django1.10-drf3.3
    - TOX_ENV=py35-django1.10-drf3.5

matrix:
  fast_finish: true

install:
  - pip install tox

script:
    - tox -e $TOX_ENV

notifications:
    webhooks:
        urls:
            - https://webhooks.gitter.im/e/4792e76205b696e243ff
        on_success: change  # options: [always|never|change] default: always
        on_failure: always  # options: [always|never|change] default: always
        on_start: never     # options: [always|never|change] default: always

