# Test requirements

pytest==8.3.0
pytest-cov==5.0.0
pytest-django==4.8.0
flake8==7.0.0
ipdb==0.13.13
pytz==2024.1

# Type checking requirements
mypy==1.10.0
django-stubs==5.0.0
djangorestframework-stubs==3.15.0

# wheel for PyPI installs
wheel==0.43.0

# MkDocs for documentation previews/deploys
mkdocs==1.5.2
