# Test requirements
pytest==6.1.1
pytest-cov==2.10.1
pytest-django==4.0.0
flake8==3.8.3
ipdb==0.13.4

# wheel for PyPI installs
wheel==0.35.1

# MkDocs for documentation previews/deploys
mkdocs==1.1.2
