# Test requirements
pytest==8.2.0
pytest-cov==5.0.0
pytest-django==4.8.0
flake8==6.1.0
ipdb==0.13.13
pytz==2024.1

# wheel for PyPI installs
wheel==0.43.0

# MkDocs for documentation previews/deploys
mkdocs==1.5.2
